.center {
    text-align: center;
}
.margin-top {
    margin-top: 1rem;
}
.header-flex {
    display: flex;
    justify-content: space-between;
}

#player_name {
    font-weight: bold;
    color: black;
    font-size: large;
    font-family: 'math';
}

tr, td, th {
    border-style: none;!important;
    border-bottom: 1px solid black;

}