{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <div class="top-header mb-4 header-flex">
        <h1>Box Score</h1>
        <a href="/schedule" class="btn btn-link">⬅ Back to Schedule</a>
    </div>

    {% for team_abbr, players in teams.items() %}
        <h2 class="mt-4">{{ team_abbr }}</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr class="center">
                        <th>Player</th>
                        <th>MIN</th>
                        <th>PTS</th>
                        <th>AST</th>
                        <th>REB</th>
                        <th>FGM/FGA</th>
                        <th>FG%</th>
                        <th>3PM/3PA</th>
                        <th>3PT%</th>
                        <th>FTM/FTA</th>
                        <th>FT%</th>
                        <th>STL</th>
                        <th>BLK</th>
                        <th>TO</th>
                        <th>PF</th>
                        <th>+/-</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    {% for stat in players %}
                        <tr id="borders">
                            <td id="player_name">{{ stat['PLAYER_NAME'] }}</td>
                            {% if stat['MIN'] == 'DNP' %}
                                <td colspan="15">DNP - Coach's Decision</td>
                            {% else %}
                                <td>{{ stat['MIN'] }}</td>
                                <td>{{ stat['PTS'] }}</td>
                                <td>{{ stat['AST'] }}</td>
                                <td>{{ stat['REB'] }}</td>
                                <td>{{ stat['FGM'] }} / {{ stat['FGA'] }}</td>
                                <td>{{ (stat['FG_PCT'] * 100) | round(2) }}</td>
                                <td>{{ stat['FG3M'] }} / {{ stat['FG3A'] }}</td>
                                <td>{{ (stat['FG3_PCT'] * 100) | round(2) }}</td>
                                <td>{{ stat['FTM'] }} / {{ stat['FTA'] }}</td>
                                <td>{{ (stat['FT_PCT'] * 100) | round(2) }}</td>
                                <td>{{ stat['STL'] }}</td>
                                <td>{{ stat['BLK'] }}</td>
                                <td>{{ stat['TO'] }}</td>
                                <td>{{ stat['PF'] }}</td>
                                <td>{{ stat['PLUS_MINUS'] }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}
