{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <div class="header-flex">
            <h1 class="mb-4">NBA Schedule (Latest 15 Games)</h1>
            <a href="/" class="btn btn-link mt-4">⬅ Back to Home</a>
        </div>

        <ul class="list-group">
            {% for game in games %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ game['GAME_DATE'] }} - {{ game['MATCHUP'] }}</span>
                    <a href="/boxscore/{{ game['GAME_ID'] }}" class="btn btn-sm btn-outline-primary">Box Score</a>
                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

